<div class="page-sidebar">
    <ul class="list-unstyled accordion-menu">
        {{#if control}}
        <li {{#if isHome}}
            class="active-page"
            {{/if}}>
            <a href="/"><i data-feather="home"></i>Главная</a>
        </li>
        {{/if}}
        <li class="sidebar-title">Склад</li>
        <li>
            <a href="/order/"><i data-feather="file"></i>Заказы</a>
        </li>
        {{#if control}}
        <li class="sidebar-title">Финансы</li>
        <li {{#if isWorkers}}class="active-page"{{/if}}>
            <a href="/worker/">
                <i data-feather="users"></i>Сотрудники
            </a>
        </li>
        <li {{#if isSpending}}class="active-page"{{/if}}>
            <a href="/spending/">
                <i data-feather="users"></i>Расходы
            </a>
        </li>
        <li {{#if isDebtor}}class="active-page"{{/if}}>
            <a href="/debtor/"><i data-feather="pie-chart"></i>Должники</a>
        </li>
        <li  {{#if isReport}}class="active-page"{{/if}}>
            <a href="/report"><i data-feather="message-circle"></i>Отчёт</a>
        </li>
        {{/if}}
        <li class="sidebar-title">
            Управление
        </li>
        <li {{#if isProduct}}class="active-page"{{/if}}>
            <a href="/product/">
                <i data-feather="list"></i>Товары
            </a>
        </li>
        {{#if control}}
        <li {{#if isCategory}}class="active-page"{{/if}}>
            <a href="/category/">
                <i data-feather="layers"></i>Категории
            </a>
        </li>
        <li {{#if isUsers}}class="active-page"{{/if}}>
            <a href="/users/">
                <i data-feather="users"></i>Пользователи
            </a>
        </li>
        {{/if }}

    </ul>
</div>